# Gradle project-specific cache directory
.gradle

# Visual Studio Code project-specific cache directory
.vscode

# Gradle build output directories
build
bin

# Gradle wrapper jar
gradle/wrapper/gradle-wrapper.jar

# Sealights agent files
sealights
buildSessionId.txt
