# Ignore Gradle project-specific cache directory
.gradle

# Ignore Visual Studio Code project-specific cache directory
.vscode

# Ignore Gradle build output directories
build
bin

# Ignore Gradle wrapper jar
gradle/wrapper/gradle-wrapper.jar
